# conda create environment  
conda create -n mueller  

# conda extract environment
conda env export --no-builds > environment.yml

https://towardsdatascience.com/nlp-for-beginners-cleaning-preprocessing-text-data-ae8e306bef0f
https://www.kaggle.com/piyush1912/mueller-report-analysis

In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('../data/mueller_report.csv')

In [34]:
df.head()

   page  line                                             text
0     1     1                       U.S. Department of Justice
1     1     2     AttarAe:,c\\'erlc Predtiet // Mtt; CeA1:ttiA
2     1     3  Ma1:ertalPrn1:eetedUAder Fed. R. Crhtt. P. 6(e)
3     1     4                 Report On The Investigation Into
4     1     5                       Russian InterferenceIn The

In [35]:
df.shape

(19195, 3)

In [36]:
df.isnull().sum().sum()

448

In [37]:
df.isnull().mean().sort_values(ascending=False)

text    0.023339
line    0.000000
page    0.000000
dtype: float64

##### Can't do any type of cleansing as if any changes would actually alter the meaning of the document. So it's better to specify and get clean data in data collection point itself.

In [38]:
df.head()
df.to_csv('file_name', sep='\t')

Group all the lines into a single page.

In [30]:
df = df.groupby('page')['text'].apply(lambda text: ''.join(text.to_string(index=False))).str.replace('(\\n)', '').reset_index()

df.head()
import string

In [12]:
def remove_punctuation(text):
    no_punct = "".join([c for c in text if c not in string.punctuation])
    return no_punct

In [13]:
df['text'] = df['text'].apply(lambda x: remove_punctuation(x))

In [14]:
from nltk.tokenize import RegexpTokenizer

In [15]:
tokenizer = RegexpTokenizer(r'\w+')

In [16]:
df['text'] = df['text'].apply(lambda x: tokenizer.tokenize(x.lower()))

In [18]:
df['text'].head()

0    [us, department, of, justice, attaraecerlc, pr...
1    [us, department, of, justice, atl6rney, w6rk, ...
2    [us, department, of, justice, attefflewerle, p...
3    [us, department, of, justice, mterhey, werk, p...
4    [us, department, of, justice, wetk, ptetlttet,...
Name: text, dtype: object

In [21]:
# df.to_csv('file_name', sep='\t')